.App {
  margin: 10px auto;
}

.App-wrapper {
  max-width: 768px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 5px 5px 8px rgba(140, 128, 199, 0.5);
}

.footer {
  font-family: "Lato", sans-serif;
  font-size: calc(5px + 2vmin);
  margin: 15px auto;
  text-align: center;
}

a {
  color: black;
}

form {
  margin: 10px auto;
}

li {
  list-style-type: none;
  text-align: left;
}

img {
  vertical-align: middle;
}
