.WeatherInfo {
  text-align: center;
  margin: 0;
  padding: 0 0 10px 0;
}

h1 {
  font-size: calc(25px + 2vw);
  font-weight: 800;
  margin: 0 auto;
  color: #e6b329;
}

small {
  font-size: calc(5px + 1vw);
  color: rgb(127, 133, 137);
}

li {
  list-style-type: none;
  font-size: calc(8px+1.5vw);
  text-align: center;
  padding: 0px 0px;
}

.WeatherTemperature .temperature {
  font-size: calc(80px + 2vw);
  font-weight: 800;
  line-height: calc(80px + 2vw);
  padding-right: 0px;
  text-align: left;
}

.WeatherTemperature .units {
  color: white;
  font-size: calc(10px + 2vw);
  font-weight: 700;
  position: relative;
  top: -48px;
}

.WeatherTemperature .Active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.WeatherTemperature .Active:hover {
  color: white;
  text-decoration: none;
}

.WeatherTemperature a {
  color: rgb(127, 133, 137);
  text-decoration: none;
}

.WeatherTemperature a:hover {
  color: white;
  text-decoration: none;
}

.description {
  font-size: calc(14px+2vw);
  font-weight: 600;
  display: block;
  margin: 5px auto;
  padding-bottom: 10px;
}

.description:first-letter {
  text-transform: capitalize;
}

p.details {
  font-size: calc(18px+2vw);
  margin: 0 auto;
  padding: 0px;
}

canvas {
  padding: 0px;
}
