.WeatherSearch {
  align-items: stretch;
}

.form-control {
  background-color: #fdfdfd8f;
}

.form-control:hover,
.form-control:focus {
  background-color: #fdfdfd;
  border-color: #fdfdfdb9;
}

input[type="search"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
