.Weather {
  margin: 0px;
  padding: 0 20px;
}

h1 {
  font-size: calc(25px + 2vw);
  font-weight: 800;
  margin: 0px auto;
  color: #facf5a;
}

ul {
  padding: 0;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
  font-size: calc(2px+1.5vw);
  text-align: center;
  padding: 0px 0px;
}

.Weather-temperature .Temperature {
  font-size: calc(120px + 2.5vw);
  font-weight: 800;
  line-height: calc(115px + 2.5vw);
}

.Weather-temperature .Units {
  color: white;
  font-size: calc(16px + 2.5vw);
  font-weight: 700;
  position: relative;
  top: -73px;
}

.Weather-temperature .Active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.Weather-temperature .Active:hover {
  color: white;
  text-decoration: none;
}

.Weather-temperature a {
  color: rgb(127, 133, 137);
  text-decoration: none;
}

.Weather-temperature a:hover {
  color: white;
  text-decoration: none;
}

h5.Description {
  font-size: calc(13px+1.5vw);
  display: block;
  margin: 15px auto;
}

h5.Description:first-letter {
  text-transform: capitalize;
}

form {
  margin: 20px auto 5px;
}

.form-control {
  background-color: #fdfdfdb7;
}

.form-control:hover,
.form-control:focus {
  background-color: #fdfdfd;
  border-color: #fdfdfdc5;
}

input[type="search"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
