.Weather {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  margin: 15px 0 5px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 0;
}

h5 {
  font-size: 17px;
  font-weight: 600;
  margin: 10px 0 0;
}

h6 {
  text-align: center;
}

ul {
  padding: 0;
  margin-bottom: 15px;
}

li {
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.Weather-temperature .Temperature {
  font-size: 130px;
  font-weight: 800;
  line-height: 140px;
}

.Weather-temperature .Units {
  color: white;
  font-size: 38px;
  font-weight: 800;
  position: relative;
  top: -70px;
}

.Weather-temperature .Active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.Weather-temperature .Active:hover {
  color: white;
  text-decoration: none;
}

.Weather-temperature a {
  color: rgb(102, 106, 109);
  text-decoration: none;
}

.Weather-temperature a:hover {
  color: white;
  text-decoration: none;
}

.Humidity {
  color: white;
}

h4.Description {
  display: block;
  margin: 20px auto;
  font-weight: 500;
}

h4.Description:first-letter {
  text-transform: capitalize;
}
