.Weather {
  margin: 0px;
  padding: 20px;
}

form {
  margin: 0 auto 5px;
}

.form-control {
  background-color: #fdfdfdb7;
}

.form-control:hover,
.form-control:focus {
  background-color: #fdfdfd;
  border-color: #fdfdfdc5;
}

input[type="search"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.loading {
  display: block;
  margin: 50px auto;
  color: gold;
}
